.sidebar{
    width: 300px;
    background: linear-gradient(45deg, #8045ef 30%, #2e97f7 90%);
}
.header{
    height: 200px;
    color: white;
    text-align: center;
    font-size: 24px;
}
.headerTitle{
    line-height: 48px;
    margin-top: -8px;
}